Repository zxdavb/ramses_rf: changes, and which pre-commit hooks are due for each by the changed paths.
All: debugs, secrets

.pre-commit-config.yaml:

# .pre-commit-config.yaml file for https://github.com/zxdavb/ramses_rf
# last updated 2024-02-22, based on HA 2024.03.dev0

exclude: (^.secrets/|^docs/|^misc|tests/deprecated)

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff         # linter
      - id: ruff-format  # formatter

  # - repo: https://github.com/pycqa/flake8
  #   rev: 7.0.0
  #   hooks:
  #     - id: flake8
  #       additional_dependencies: [flake8-bugbear, flake8-noqa]
  #       args: [
  #         # "--ignore=E,W,C,N,D,A,B,Q,R,S,T,U,V,W,X,Y,Z",
  #         "--select=NQA"
  #       ]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-no-log-warn

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    # id: check-json  # don't enable this one
    - id: check-toml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: local
    hooks:
      # entry: '[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'  # email address

    - id: debugs
      name: check for DEBUG flags
      entry: '_DBG_.*=.*True'
      language: pygrep
      args: [-i]
      exclude: (.pre-commit-config.yaml|^tests/.*\.py$)  # avoid false +ve

    # - id: fixme
    #   name: check for FIXME flags
    #   entry: '#.*(FIXME|TODO)'
    #   language: pygrep
    #   args: [-i]
    #   exclude: (.pre-commit-config.yaml|^tests/.*\.py$)  # avoid false +ve

    - id: secrets
      name: check for secrets
      entry: '#.*(secret|password|pwd)'
      language: pygrep
      args: [-i]
      exclude: .pre-commit-config.yaml  # avoid false +ve

    # - id: private imports
    #   name: check for private imports
    #   entry: 'from .* import _.*'
    #   language: pygrep
    #   args: [-i]
    #   exclude: .pre-commit-config.yaml  # avoid false +ve

    # We do not use pre-commit/mirrors-mypy, as it comes with opinionated defaults
    # (like --ignore-missing-imports) and is difficult to configure to run
    # with the dependencies correctly installed.

    # - id: mypy
    #   name: check mypy
    #   entry: mypy
    #   language: python
    #   additional_dependencies: [voluptuous==0.14.1]
    #   types: [python]
    #   # use require_serial so that script is only called once per commit
    #   require_serial: true
    #   # Print the number of files as a sanity-check
    #   verbose: true
    #   args: ["--config-file", "./pyproject.toml"]

  # We do not use pre-commit/mirrors-mypy, as it comes with opinionated defaults
  # (like --ignore-missing-imports) and is difficult to configure to run
  # with the dependencies correctly installed.

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #   - id: mypy
  #     additional_dependencies: [voluptuous==0.14.1]
  #     args: ["--config-file", "./pyproject.toml"]

bump to 0.31.19
  src/ramses_rf/version.py
  src/ramses_tx/version.py
Due: debugs, secrets

bugfix, doctweaks
  src/ramses_rf/gateway.py
  src/ramses_tx/protocol_fsm.py
Due: debugs, secrets

refactor of MsgIdx
  src/ramses_rf/database.py
Due: debugs, secrets

bugfix for id = 99:123456_xx (e.g. zones)
  src/ramses_rf/entity_base.py
Due: debugs, secrets

doctweak
  src/ramses_tx/transport.py
Due: debugs, secrets

bugfix GET_FAULTS
  src/ramses_cli/client.py
Due: debugs, secrets

initial commit
  src/ramses_tx/transport.py
Due: debugs, secrets

doctweak
  tests/tests_rf/test_hgi_behaviors.py
Due: secrets

add a default limit to fault log discovery
  src/ramses_rf/system/faultlog.py
Due: debugs, secrets

rationalise regex logging
  src/ramses_tx/transport.py
Due: debugs, secrets

mypy / logging
  src/ramses_tx/protocol_fsm.py
Due: debugs, secrets

refactor: send_cmd() -> Packet
  src/ramses_rf/gateway.py
  src/ramses_tx/const.py
  src/ramses_tx/gateway.py
  src/ramses_tx/protocol.py
Due: debugs, secrets

tweak fault log test
  tests/tests_rf/test_api_faultlog.py
Due: secrets

tweak test docstrings, fixture guard clauses
  tests/tests_rf/conftest.py
Due: secrets

add test for virtual evofw3
  tests/tests_rf/test_api_schedule.py
  tests/tests_rf/virtual_rf/virtual_rf.py
Due: secrets

faultlog & test
  src/ramses_rf/system/faultlog.py
  src/ramses_rf/system/heat.py
  src/ramses_tx/protocol_fsm.py
  tests/tests_rf/logs/test_api_faultlog.log
  tests/tests_rf/test_api_faultlog.py
Due: debugs, secrets

tidy up imports
  tests/tests/test_api_faultlog.py
  tests/tests/test_api_schedule.py
  tests/tests/test_devices.py
  tests/tests/test_eavesdrop_dev_class.py
  tests/tests/test_eavesdrop_schema.py
  tests/tests/test_helpers.py
  tests/tests/test_parser_helpers.py
  tests/tests/test_parsers.py
  tests/tests/test_schema_bits.py
  tests/tests/test_schemas.py
  tests/tests/test_systems.py
Due: secrets

deprecated stuff and nonsense
  tests/deprecated/_test_apis_mock.py
  tests/deprecated/_test_mock_schedule.py
  tests/deprecated/_test_packets_bad.py
  tests/deprecated/_test_performance_WIP.py
  tests/deprecated/common.py
Due: none

add TEST_DIR
  tests/tests_rf/conftest.py
Due: secrets

create test suit from log file
  tests/tests_rf/test_api_faultlog.py
Due: secrets

bump dependencies (ruff to 0.4.2)
  .pre-commit-config.yaml
  requirements_dev.txt
Due: debugs, secrets

refactor faultlog for active_faults
  src/ramses_rf/system/faultlog.py
  tests/tests_rf/test_api_faultlog.py
Due: debugs, secrets

tweak requirements
  requirements_dev.txt
Due: debugs, secrets

mypy, tweak test
  src/ramses_rf/system/faultlog.py
  tests/tests_rf/test_api_faultlog.py
Due: debugs, secrets

remove _make_and_send_cmd()
  src/ramses_rf/device/base.py
  src/ramses_rf/device/heat.py
  src/ramses_rf/entity_base.py
  src/ramses_rf/system/heat.py
  src/ramses_rf/system/zones.py
Due: debugs, secrets

Use Priority.HIGH for get-schedule
  src/ramses_rf/system/heat.py
  src/ramses_rf/system/schedule.py
Due: debugs, secrets

send_cmd(Cmd.set_.*) as Priority.HIGH
  src/ramses_rf/system/heat.py
Due: debugs, secrets

rename test suites
  tests/tests/systems/_heat_trv_00/config.json
  tests/tests/systems/_heat_trv_00/packet.log
  tests/tests/systems/_heat_trv_00/schema.json
  tests/tests/systems/_hvac_nuaire/schema.json
  tests/tests/systems/heat_otb_00/config.json
  tests/tests/systems/heat_otb_00/packet.log
  tests/tests/systems/heat_otb_00/schema.json
  tests/tests/systems/heat_ufc_00/config.json
  tests/tests/systems/heat_ufc_00/packet.log
  tests/tests/systems/heat_ufc_01/packet.log
Due: debugs, secrets

lint
  src/ramses_rf/binding_fsm.py
  src/ramses_rf/device/base.py
  tests/tests/helpers.py
Due: debugs, secrets

tidy up tests
  tests/tests/test_systems.py
Due: secrets

tweak error message
  src/ramses_tx/protocol.py
Due: debugs, secrets

HomogeniseFaked Command.put_* via setters
  src/ramses_rf/device/heat.py
  src/ramses_rf/device/hvac.py
  src/ramses_rf/exceptions.py
Due: debugs, secrets

Deprecate Zone.name setter
  src/ramses_rf/system/zones.py
Due: debugs, secrets

Refactor methods wrapping Command.set_*
  src/ramses_rf/device/hvac.py
  src/ramses_rf/entity_base.py
  src/ramses_rf/system/heat.py
  src/ramses_rf/system/zones.py
Due: debugs, secrets

mypy work
  pyproject.toml
  src/ramses_rf/device/__init__.py
  src/ramses_rf/device/base.py
  src/ramses_rf/device/hvac.py
  src/ramses_rf/system/zones.py
  tests/tests/test_api_schedule.py
Due: debugs, secrets

doctweak
  src/ramses_rf/entity_base.py
Due: debugs, secrets

doctweak
  src/ramses_rf/device/heat.py
Due: debugs, secrets

temp fix for R/O protocols
  src/ramses_rf/device/heat.py
  src/ramses_rf/entity_base.py
  src/ramses_rf/system/zones.py
Due: debugs, secrets

mypy call defs
  pyproject.toml
  src/ramses_cli/client.py
  src/ramses_rf/device/base.py
  src/ramses_rf/device/heat.py
  src/ramses_rf/device/hvac.py
  src/ramses_rf/system/heat.py
  src/ramses_rf/system/zones.py
  src/ramses_tx/command.py
Due: debugs, secrets

mypy no-any-return
  pyproject.toml
  src/ramses_rf/device/base.py
  src/ramses_rf/device/heat.py
  src/ramses_rf/device/hvac.py
  src/ramses_rf/entity_base.py
  src/ramses_rf/system/faultlog.py
  src/ramses_rf/system/heat.py
  src/ramses_rf/system/zones.py
Due: debugs, secrets
